/*  
button{
    background-color: blue ;
    color: aliceblue;
    font-size: 16px;
    padding: 14px 18px ;
 }



 div{
    height: 300px  ;
    width:400px ;
    border: 2px solid red;
 } */


 .para{
    color: red;
    
 }

 .newClass {
    background-color: yellow;
 }